<div class="input-container">
  <input
    class="form-control"
    [id]="elementData().modelName"
    [type]="elementData().type"
    [placeholder]="elementData().placeholder"
    [formControl]="control"
    [ngClass]="elementData().cssClasses"
    [ngStyle]="elementData().cssStyles"
  >

  @if (elementData().errors && elementData().errors.length) {
    @for (error of elementData().errors; track $index) {
      @if (control.dirty && control.errors && control?.errors[error.type]) {
        <span class="error">{{ error.text }}</span>
      }
    }
  }
</div>
