.inputs-form-array-container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .wrapper {
    display: flex;
    gap: 12px;

    .add-button {
      padding: 9px 24px;
      order: 3;

      background-color: #244053;
      color: #ffffff;
    }

    .remove-button {
      padding: 9px 24px;
      order: 2;

      background-color: #b54c4c;
      color: #ffffff;
    }
  }
}
